# macOS
*.DS_Store

# Python bytecode
__pycache__
*.pyc.env
# .gitignore
*.csv
!job_titles.csv  # (Optional: If you have small CSVs you WANT to keep, add exceptions like this)
database/scrapers/scrape_jobs/current_jobs/.env
scraper/server/.gitkeep

.vscode/
